
                  
                <hr>
          <div class="col-md-12">
          <table class=" table table-striped" >

          <div class="row">
                <div class="col-md-12">
                     <form action="" class="search-form">
                            <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Busca</label>
                            <input type="text" class="form-control" ng-model="search.nome" name="search" id="search" placeholder="Busca">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      </div>
                     </form>       
                </div>
          </div>

          <fieldset>Lista Clientes</fieldset>
           	<thead>
           		<th>#</th>
           		<th>
                            Nome <span ng-click="order = '-nome'" class="label label-success"><i class="fa fa-chevron-down"></i></span>
                                 <span ng-click="order = 'nome'" class="label label-success"><i class="fa fa-chevron-up"></i></span>
                      </th>
           		<th>Email</th>
           		<th>Aniversário</th>
           		<th>Saldo</th>
           	</thead>
           	<tbody>
           		<tr ng-repeat="pessoa in resultadoBusca = (pessoasCtrl.pessoas | filter:search | orderBy:order)" ng-click="selecionarPessoa(pessoa)">
           			<td style="vertical-align: middle;"><img height="64" ng-src="{{ pessoa.foto }}" alt="{{ pessoa.nome }}" class="img-circle"></td>
           			<td style="vertical-align: middle;">{{ pessoa.nome }}</td>
           			<td style="vertical-align: middle;">{{ pessoa.email }}</td>
           			<td style="vertical-align: middle;">{{ pessoa.dataNascimento }}</td>
           			<td style="vertical-align: middle;">{{ pessoa.saldo | monetario }}</td>
           		</tr>

                      <tr ng-show="resultadoBusca == 0">
                            <th colspan="5">
                                  <div class="alert alert-warning text-center">Nenhum resultado para "{{search.nome}}"</div>      
                            </th>
                      </tr>
                      
           	</tbody>
           </table>
           </div>

    	